.profile_container {
    display: flex;
    justify-content: space-between;
}

.profile_name_rating {
    /*border: 1px solid black;*/
    display: flex;
    gap: 15px;
    font-size: medium;
    justify-content: flex-start;
    flex-direction: row;
}

.seller_name_and_rating {
    display: flex;
    flex-direction: column;
}

.seller_rating {
    display: flex;
    flex-direction: row;
}

.StarTwoTone {
    font-size: 24px;
}

.coins {
    /*border: 1px solid black;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
}