.add_to_shop {
    color: var(--dark_green);
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}

.add_to_cart {
    color: var(--dark_green);
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}

.accept_challenge {
    color: transparent;
}

.refuse_challenge {
}

.filter-btn {

}