.add_to_shop {
    color: var(--dark_green);
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}

.add_to_cart {
    color: var(--dark_green);
    display: flex;
    justify-content: center;
    padding: 0 0 0 0;
}

.accept_challenge {
    color: transparent;
    margin: 10px;
}

.refuse_challenge {
}


.filter-btn {
    margin: 10px;
}

.sort-btn{
    margin: 10px;
}