.page_container {
    background-color: var(--secondary_green);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-content: center;
    height: 90vh;
    padding-top: 15px;
}

.profile_container{
    width: 80%;
    height: 10%;
    /*border: 1px solid black;*/
}

