.main-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: center;
    align-items: center;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-box {
    overflow: hidden;
    flex: 7;
    border-radius: 20px 20px 0 0 ;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-box-modal {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 7;
    align-items: center;
    padding-bottom: 10px;
}

.img-box-modal img {
    width: 60%;
    height: 30%;
    object-fit: cover;
    border-radius: 20px;
}

.content-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 5px;

}

.left-side {
    width: 80%;
    row-gap: 60px;
}

.left-side h3 {
    display: flex;
    justify-content: center;
    color: var(--primary_green);
}


.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.card_like_button {
    scale: 120%;
    border-color: black;
    box-shadow: 1px 1px 1px 0 black;
}

.card_like_button:hover {
    scale: 125%;
    border-color: black;
}

.modal_icons {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.whatsapp-modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
}

.chat-or-pay-btn{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    column-gap: 10px;
}

.step-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}

.edit-info-form {
    width: 100%;
}

.custom-modal .ant-modal-content{
    border: 2px solid var(--text_color);
    box-shadow: 0 4px 0 var(--text_color);
    border-radius: 16px;
}
.ant-btn {
    word-wrap: break-word;
}

input  {
    flex: 1;
    padding: 7px;
    border-radius: 8px;
    margin-bottom: 2px;
    border: 1px solid lightgray;
    font-size: 16px;
    color: rgb(0, 0, 32);
    outline: none;
    width: 60vw;
}

input:focus, textarea:focus {
    border: 1px solid rgb(79, 169, 79);
}

.update_delete_button_box {
    display: flex;
    justify-content: space-between;
    column-gap: 2vw;
}

.update-button {
    border-radius: 10px;
    width: 60vw;
    padding: 10px 5px 10px 5px;
    background-color: var(--secondary_green);
    font-size: 16px;
    font-weight: bold;
}

.update-button:hover {
    background-color: var(--primary_green);
    cursor: pointer;
}

.delete-btn {
    border-radius: 10px;
    width: 35vw;
    padding: 10px 5px 10px 5px;
    background-color: white;
    border-color: red;
    color: red;
    font-size: 16px;
}

.delete-btn:hover {
    background-color: lightpink;
    cursor: pointer;
}

.request-pay-btn {
    margin-top: 5px;
    width: 70%;
    font-weight: bold;
    background-color: var(--primary_green);
}