.main-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: center;
    align-items: center;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ant-modal-body {
    margin: -10px;
}
.img-box {
    overflow: hidden;
    flex: 7;
    border-radius: 10px 10px 0 0 ;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-box-modal {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 7;
    align-items: center;
    padding-bottom: 10px;

}

.img-box-modal img {
    width: 60%;
    height: 30%;
    object-fit: cover;
    border-radius: 20px;
}

.content-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 5px;

}
.profile-content-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    margin: 20px;
    padding-bottom: 10px;
}


.sold-modal {
    padding: 20px;
    flex-direction: column;
    text-align: center;
}

.left-side {
    width: 80%;
    row-gap: 60px;
}

p.product-info {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.left-side h3 {
    display: flex;
    justify-content: center;
    color: var(--green);
}


.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
}


.card_like_button, .card_like_button:hover, .card_like_button:focus, .card_like_button:active {
    scale: 120%;
    box-shadow: none;
    background-color: var(--background_white);
}

.profile-buttons, .profile-buttons:hover, .profile-buttons:focus, .profile-buttons:active {
    box-shadow: none;
    background-color: var(--background_white);
}

.button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-modal{
    width: 20%;
    display: flex;
}

.modal_icons {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.ant-wave {
    display: none;
}

.chat-or-pay-btn{
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-info-form {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-modal .ant-modal-content{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 16px;
    background-color: var(--background_white);
}

input  {
    flex: 1;
    padding: 7px;
    border-radius: 8px;
    margin-bottom: 2px;
    border: 1px solid lightgray;
    font-size: 16px;
    color: rgb(0, 0, 32);
    outline: none;
    width: 60vw;
}

input:focus, textarea:focus {
    border: 1px solid rgb(79, 169, 79);
}

.update_delete_button_box {
    display: flex;
    justify-content: space-between;
    column-gap: 2vw;
}