.feed {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 10px;
}

@media (max-width: 768px) {
    .feed {
        grid-template-columns: 1fr;
    }
}

.product-list-container {
    display: flex;
    justify-content: center;
}

.product-list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
}


.filter-sort-container{
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    row-gap: 5px;
    padding-top: 10px;
}

.filter-sort-container > div {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}