:root {
    --text_color: #02110A;
    --dark_grey: #343636;
    --dark_green: #194b19;
    --primary_green: #749A83;
    --secondary_green: #CDDCC7;
    --secondary_blue: #68a8bd;
    --light_green: #E8EEE8;
    --off_white: #F1F7F1;
}

html, body {
    background-color: var(--light_green);
    margin: 0;
    padding: 0;
    position:relative;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3{
    font-family: 'Lora', serif;
    font-weight: bold;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.user_info_dropdown:hover {
    cursor:pointer;
}