:root {
    --text_color: #02110A;
    --dark_grey: #343636;
    --dark_green: #194b19;
    --primary_green: #8EC16E;
    --secondary_green: #CDDCC7;
    --secondary_blue: #68a8bd;
    --light_green: #E8EEE8;
    --off_white: #F1F7F1;
    --light_blue: #BED7E6;
    --baby_pink: #FABACA;
    --yelloww: #FFDE49;
    --orangie: #FF8103;
    --background: #FDF3E6;
}

html, body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    position:relative;
    font-family: 'Syne', sans-serif;
}

.page_header {
    padding: 60px 5px 0 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Syne', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

p {
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Syne', sans-serif;
    font-weight: 700;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.user_info_dropdown:hover {
    cursor:pointer;
}

