:root {
    --text_color: #02110A;
    --off_white: #F5f5f5;
    --green: #11998E;
    --background_white: #F7F7F7;
    --light_green: #38ef7d;
}

html, body {
    background-color: var(--off_white);
    margin: 0;
    padding: 0;
    position:relative;
    font-family: 'Syne', sans-serif;
}

.page_header {
    padding: 80px 5px 0 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Syne', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
h4 {
    font-weight:600;
    font-family: 'Montserrat', sans-serif;
}

p, h5 {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3{
    font-family: 'Syne', sans-serif;
    font-weight: 700;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.user_info_dropdown:hover {
    cursor:pointer;
}

