
header h3{
    color: var(--green);
}

.main-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    justify-content: center;
    align-items: center;
}

form {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/*.submit-button {*/
/*    border-radius: 10px;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    padding: 10px;*/
/*    background-color: #8EC16E;*/
/*    font-size: 20px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    box-shadow: 2px 3px 0 0 var(--text_color);*/
/*    font-family: 'Montserrat', sans-serif;*/
/*}*/

.sign-up-button {
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: var(--green);
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.auth-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.auth-inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
    border-color: #8EC16E;
    box-shadow: none;
}

.auth-wrapper h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}

/*.ant-input, .ant-input:focus, .ant-input-number, .ant-input-number:focus, .ant-input-number:active {*/
/*    background-color: white;*/
/*    box-shadow: 2px 3px 0 0 var(--text_color);*/
/*    border-radius: 6px;*/
/*    border: 1px solid var(--text_color) !important;*/
/*    font-family: 'Montserrat', sans-serif;*/
/*}*/
/*.ant-input::placeholder {*/
/*    color: var(--text_color);*/
/*}*/

