header h2{
    color: var(--dark_green);
}


.sign_up_div {
    display:flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.sign_up_div h4:hover {
    scale: 105%;
    cursor: pointer;
}