:root {
    --primary_green: #749A83;
    --secondary_green: #CDDCC7;
    --light_green: #E8EEE8;
    --dark_green: #307c30;
    --off_white: #F1F7F1;
    --secondary_blue: #68a8bd;
    --text_color: #02110A;
}

h1 {
    font-family: 'Lora', serif;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}