.code-button{
    color: var(--background_white);
    padding: 9px;
    width: 200px;
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: 7px;
}

.copied {
    background-color: white;
    font-weight: bold;
    border: 2px solid var(--green);
    padding: 8px;
}

.personal-info-table{
    padding: 10px 10px 0 10px;
}

.personal-info-table .ant-descriptions-item-label {
    font-weight: bold;
    /*font-family: 'Lora', serif;*/
    font-size: 16px;
}

.personal-info-table .ant-descriptions-item-content {
    /*font-family: 'Lora', serif;*/
    font-size: 16px;
}

.edit-info-modal {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-bottom: -15px;
}

.icons {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-bottom: -30px;
    gap: 15px;
}

.description {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.h4-des-1 {
    margin-bottom: 5px;
    margin-top: 5px;
}


.invite-friends {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 12px;
}
.feed-container {
    padding-bottom: 100px;
}

.request-pay-container{
    background-color: #ffa100;
    display: flex;
    flex-direction: row;
    align-items: center;
}

