.upload-container {
    overflow: auto;
    padding: 0 15px 60px 15px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    row-gap: 20px;
}

.modal-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-row {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.add-pic{
    white-space:nowrap;
}
.add-pic::after{
    content: "*";
    color: red
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-row-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.file-form-row {
    display: flex;
    background-color: transparent;
}

#fileInput {
    background-color: transparent;
    border-color: transparent;
}

div > form > div > label {
    flex: 0 0 90px;
    font-weight: bold;
}

div > form > div > input  {
    flex: 1;
    padding: 7px;
    border-radius: 8px;
    margin-bottom: 2px;
    border: 1px solid lightgray;
    font-size: 16px;
    color: rgb(0, 0, 32);
    outline: none;
    width: 60vw;
}

div > form > div > input:focus,
textarea:focus {
    border: 1px solid rgb(79, 169, 79);
}


/* Override the default message styles */
.ant-message-success {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.loading {
    width: 20%;
    display: flex;
    justify-content: center;
}

