.home {
    background-color: var(--secondary_green);
    color: var(--text_color);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: start;
    gap: 20px;
}

.weekly-challenge {
    width: 90%;
    height: 52%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 8px 0 0 black;
    gap: 10px;
}


.home_photo_grid {
    width: 95%;
/*    height: 900px;*/
/*    border: 2px solid black;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.home_photo_grid img {
    width: 22%;
    object-fit: contain;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

/*!*.home_second_container {*!*/
/*!*    width: 90%;*!*/
/*!*    height: 20vh;*!*/
/*!*    padding: 20px;*!*/
/*!*    border: 1px solid grey;*!*/
/*!*}*!*/
