.home-container {
    background-color: var(--secondary_green);
    background-size: cover;
    height: 90vh;
    color: black;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.home-container h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;
}

.home-container p {
    line-height: 24px;
}

.home-container a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: 100%;
    margin-top: 27px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.home-container a:hover {
    transform: translate(1px, 1px);
}

.weekly-challenge {
    background-color: var(--secondary_green);
    color: var(--text_color);
    height: 60%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 8px 0 0 black;
}

.home_photo_grid {
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    align-content: center;
    /*border: 2px solid black;*/
    gap: 15px;
}

.placeholder_image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.home_second_container {
    width: 90%;
    height: 20vh;
    padding: 20px;
    border: 1px solid grey;
}
