.add-to-cart-button {
    background-color: var(--dark_green);
    color: var(--text_color);
    font-weight: bold;
    font-size: large;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 3px;
}

.add-to-cart-button:hover {
    background-color: var(--dark_green);
    scale: 105%;
}
