.card-item{
    /*padding: 30px;*/
    margin: 20px;
}

.card-coins{
    display: flex;
    align-items: center;
}

.gery{
    color:  #918E9B;
}

.bold {
    font-weight: bold
}

.card-details{
    display: flex;
    align-items: start;
    /*justify-content: space-between;*/
    flex-direction: column;


}

.card--size{
    justify-content: start;
}

span{
    /*padding: 5px;*/
    font-size:1em;
}