.card-item{
    /*padding: 30px;*/
    margin: 20px;
}

.card-coins{
    display: flex;
    align-items: center;
}

.gery{
    color:  #918E9B;
}

.bold {
    font-weight: bold
}

.card-details{
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.card--size{
    justify-content: flex-end;
}

.imgItem{
    /*height: 70%;*/
    /*width: 160px;*/
    object-fit: cover;

}