.filter-sort-container{
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    row-gap: 5px;
}

.filter-sort-container > div {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}