.search-container {
    background-color: var(--background_green);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}